.page-content {
  border: solid 1px #ddd;
  padding: 20px;
  margin: 15px 0;

  &__page-title {
    text-align: center;
    color: #ff0000;
  }
  &__title {
    color: #222;
  }
  &__paragraph {

  }
}